{% extends "AdminBundle::layout.html.twig" %}

{% block flashbag %}
{% for notice in app.session.flashbag.get('notice') %}
<p class="flashbag">{{ notice }}</p>
{% endfor %}
{% endblock %}

{% block title %}{{ parent() }} - Commentaire n° {{ entity.id }}{% endblock %}

{% block body %}
<div class="modal fade" id="confirm_show_delete_comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   {% include 'AdminBundle:CommonBlocks:popup_confirmation.html.twig' %}
</div>

<ul class="record_actions nav nav-pills">
    <li>
        <a href="{{ path('admin.comments.index') }}" class="btn btn-default">
            Retour
        </a>
    </li>
    <li>
        <a href="{{ path('admin.comments.edit', { 'id': entity.id }) }}" class="btn btn-default">
            Editer
        </a>
    </li>
    <li>
        <a class="btn btn-danger a-btn-danger" href="#" data-toggle="modal" data-target="#confirm_show_delete_comment">Supprimer</a>
    </li>
</ul>
<hr>

<h3>Commentaire n° {{ entity.id }}</h3>

<div class="table-responsive">
    <table class="record_properties table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ entity.message }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('d/m/Y h:m:s') }}</td>
            </tr>
            
        </tbody>
    </table>
</div>

{% endblock %}
