{% extends "CommonBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Je participe{% endblock %}

{% block body %}
<div id="participate_form" class="clearfix">
	<section class="col-md-7 col-md-offset-1">
		<div class="clearfix style_main-section">
			<h3>Je participe</h3>
			<div>       
				<form role="form" method="post" novalidate {{ form_enctype(form)}}>
				<div class="form-group">
				    {{ form_label(form.nom, 'Nom')}}
                	{{ form_widget(form.nom, {'attr':{'class':'form-control'}})}}
                	<small class="errors text-danger">{{ form_errors(form.nom)}}</small> 
				  </div>
				  <div class="form-group">
				    {{ form_label(form.email, 'Email')}}
                	{{ form_widget(form.email, {'attr':{'placeholder':'jean@mail.com','class':'form-control'}})}}
                	<small class="errors text-danger">{{ form_errors(form.email)}}</small> 
				  </div>
				  <div class="form-group">
				    {{ form_label(form.type, 'Type de transport')}}
                	{{ form_widget(form.type, {'attr':{'class':'form-control'}})}}
                	<small class="errors text-danger">{{ form_errors(form.type)}}</small> 
				  </div>
				  <div class="form-group gps-coordinates clearfix">
				    {{ form_label(form.start_latitude, 'Coordonnées GPS (ex. : 10 rue des moineaux, 75010 Paris)')}}
				    <p>Distance totale: <span id="total"></span></p>
				    <div id="form_map" class="img-responsive google_maps"></div>
				    <div class="coordinates clearfix">
				    	{{ form_widget(form.start, {'attr':{'class':'form-control pull-left start_address','placeholder':'départ'}})}} 
	                	{{ form_widget(form.start_latitude, {'attr':{'class':'form-control start_lat pull-left'}})}} 
						{{ form_widget(form.start_longitude, {'attr':{'class':'form-control start_long pull-left'}})}}
						<button type="button" class="btn btn-info submit_start pull-left">Ok</button><br>
	                	<small class="errors text-danger error_trajet">{{ form_errors(form.start)}}</small>
				   </div>
				   <div class="coordinates clearfix">
				   		{{ form_widget(form.arrival, {'attr':{'class':'form-control pull-left arrival_address','placeholder':'arrivée'}})}}
				    	{{ form_widget(form.arrival_latitude, {'attr':{'class':'form-control end_lat pull-left'}})}}
	                	{{ form_widget(form.arrival_longitude, {'attr':{'class':'form-control end_long pull-left'}})}} 
	                	<button type="button" class="btn btn-info submit_arrival pull-left">Ok</button>
	                	<small class="errors text-danger error_trajet">{{ form_errors(form.arrival)}}</small>
				  	</div>
				  	<small class="errors text-danger transport_error">Choisissez le mode de transport puis re-validez la destination</small>
				  </div>
				  <div class="form-group clearfix">
				    {{ form_label(form.description, 'Description du trajet')}}
                	{{ form_widget(form.description, {'attr':{'class':'form-control'}})}}
                	<small class="errors text-danger">{{ form_errors(form.description)}}</small>
				  </div>
				  <div class="form-group">
				    {{ form_label(form.ges, 'Gaz à effet de serre')}}
                	{{ form_widget(form.ges, {'attr':{'class':'form-control ges','disabled':'disabled'}})}}
				  </div>
				  <div class="checkbox">
				    <label>
                		{{ form_widget(form.game)}}
                		Je souhaite participer au <a href="#" target="_blank">concours</a>
                	</label>
				  </div>
				  <div class="form-group">
                	{{ form_widget(form.captcha)}}
				  </div>
				  <div class="form-group hidden_type">
                	{{ form_widget(form.status)}}
                	{{ form_widget(form.date)}}
				  </div>
				  {{ form_widget(form.valider, {'attr':{'class':'btn btn-info'}})}}
				  {{ form_widget(form._token)}} 
				</form>
			</div>		
		</div>
	</section>      
       
{% endblock %}
{% block javascripts %}
<script src="{{ asset('bundles/common/assets/js/googleMaps/map_participate.js')}}"></script>
{% endblock %}