{% extends "AdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ecoacteurs{% endblock %}

{% block body -%}
<section>
    <h3>Liste des écoacteurs</h3>

    <div class="container_navigation">
    {% if pagination %}
        <div class="nav_all navigation">{{ knp_pagination_render(pagination) }}</div>
    {% elseif pagination_publish %}
        <div class="nav_publish navigation">{{ knp_pagination_render(pagination_publish) }}</div>
    {% elseif pagination_unpublish %}
        <div class="nav_unpublish navigation">{{ knp_pagination_render(pagination_unpublish) }}</div>
    {% endif %}
    </div> 

    <div id="ecoactor_list" class="table-responsive">

        <ul id="filter_ecoactor" class="nav nav-tabs" role="tablist">
          <li class="active"><a id="allpublish_link_ecoactor" href="#">Tout</a></li>
          <li><a id="publish_link_ecoactor" href="#">Publié</a></li>
          <li><a id="unpublish_link_ecoactor" href="#">Non publié</a></li>
        </ul>

        <table class="records_list table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Status</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Départ</th>
                    <th>Arrivée</th> 
                    <th>Description</th>
                    <th>Jeu</th>
                    <th>Ges</th>                  
                </tr>
            </thead>
            <tbody id="allpublish_ecoactor">
                {% for entity in pagination %}
                <tr>
                    <td>
                        <ul class="nav">
                            <li>
                                <a class="info_tip" data-toggle="tooltip" data-placement="left" title="voir" href="{{ path('admin.ecoactors.show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </li>
                            <li>
                                <a class="info_tip" data-toggle="tooltip" data-placement="left" title="éditer" href="{{ path('admin.ecoactors.edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                            </li>
                        </ul>
                    </td>
                    <td><button class="btn btn-xs {% if entity.status == 'publié' %}btn-success{% elseif entity.status == 'non publié' %}btn-danger{% endif %}">{{ entity.status }}</button></td>
                    <td>{{ entity.nom|capitalize }}</td>
                    <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
                    <td>{{ entity.date|date('d/m/Y à h:m:s') }}</td>
                    <td class="type_td">{{ entity.type }}</td>   
                    <td>{{ entity.start }}</td>
                    <td>{{ entity.arrival }}</td>
                    <td>{{ entity.startLatitude }}</td>
                    <td>{{ entity.startLongitude }}</td>
                    <td>{{ entity.arrivalLatitude }}</td>
                    <td>{{ entity.arrivalLatitude }}</td>
                    <td>{{ entity.description|slice(0, 50) }} ...</td>
                    <td>{{ entity.game }}</td>
                    <td>{{ entity.ges }}</td>                  
                </tr>
                {% endfor %}           
            </tbody>
            <tbody id="publish_ecoactor">
                {% for entity in pagination_publish %}
                <tr>
                    <td>
                        <ul class="nav">
                            <li>
                                <a class="info_tip" href="{{ path('admin.ecoactors.show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="left" title="voir"></span></a>
                            </li>
                            <li>
                                <a class="info_tip" href="{{ path('admin.ecoactors.edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="left" title="éditer"></span></a>
                            </li>
                        </ul>
                    </td>
                    <td><button type="button" class="btn btn-xs btn-success">{{ entity.status }}</button></td>
                    <td>{{ entity.nom|capitalize }}</td>
                    <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
                    <td>{{ entity.date|date('d/m/Y à h:m:s') }}</td>
                    <td>{{ entity.type }}</td>   
                    <td>{{ entity.start }}</td>
                    <td>{{ entity.arrival }}</td>
                    <td>{{ entity.description | slice(0, 50) }} ...</td>
                    <td>{{ entity.game }}</td>
                    <td>{{ entity.ges }}</td>                  
                </tr>
                {% endfor %}
            </tbody>
            <tbody id="unpublish_ecoactor">              
                {% for entity in pagination_unpublish %}
                <tr>
                    <td>
                        <ul class="nav">
                            <li>
                                <a class="info_tip" href="{{ path('admin.ecoactors.show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="left" title="voir"></span></a>
                            </li>
                            <li>
                                <a class="info_tip" href="{{ path('admin.ecoactors.edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="left" title="éditer"></span></a>
                            </li>
                        </ul>
                    </td>
                    <td><button type="button" class="btn btn-xs btn-danger">{{ entity.status }}</button></td>
                    <td>{{ entity.nom|capitalize }}</td>
                    <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
                    <td>{{ entity.date|date('d/m/Y à h:m:s') }}</td>
                    <td>{{ entity.type }}</td>   
                    <td>{{ entity.start }}</td>
                    <td>{{ entity.arrival }}</td>
                    <td>{{ entity.description | slice(0, 50) }} ...</td>
                    <td>{{ entity.game }}</td>
                    <td>{{ entity.ges }}</td>                  
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if pagination %}
    <div class="nav_all navigation">{{ knp_pagination_render(pagination) }}</div>
    {% elseif pagination_publish %}
        <div class="nav_publish navigation">{{ knp_pagination_render(pagination_publish) }}</div>
    {% elseif pagination_unpublish %}
        <div class="nav_unpublish navigation">{{ knp_pagination_render(pagination_unpublish) }}</div>
    {% endif %}
</section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/common/assets/js/adminTab/tabList.class.js')}}"></script>
    <script src="{{ asset('bundles/common/assets/js/adminTab/ecoactorsList.js')}}"></script>
{% endblock %}
