{% extends "AdminBundle::layout.html.twig" %}

{% block flashbag %}
{% for notice in app.session.flashbag.get('notice') %}
<p class="flashbag">{{ notice }}</p>
{% endfor %}
{% endblock %}

{% block title %}{{ parent() }} - Nouveau message{% endblock %}

{% block body %}
<ul class="record_actions nav nav-pills">
    <li>
        <a href="{{ path('admin.contact.index') }}">
            Retourner à la liste des messages
        </a>
    </li>
</ul>
<hr>
    <h3>Nouveau message</h3>

    <section class="col-md-7">
		<div class="clearfix style_main-section">
			<div>
				<form role="form" method="post" novalidate {{ form_enctype(form)}} novalidate>
				<div class="form-group">
				    {{ form_label(form.nom, 'Nom')}}
                	{{ form_widget(form.nom, {'attr':{'class':'form-control'}})}}
                	<small class="errors text-danger">{{ form_errors(form.nom)}}</small> 
				  </div>
				  <div class="form-group">
				    {{ form_label(form.email, 'Email')}}
                	{{ form_widget(form.email, {'attr':{'class':'form-control'}})}}
                	<small class="errors text-danger">{{ form_errors(form.email)}}</small> 
				  </div>
				  <div class="form-group">
				    {{ form_label(form.sujet, 'Sujet')}}
                	{{ form_widget(form.sujet, {'attr':{'class':'form-control'}})}}
                	<small class="errors text-danger">{{ form_errors(form.sujet)}}</small> 
				  </div>
				  <div class="form-group clearfix">
				    {{ form_label(form.message, 'Votre message')}}
                	{{ form_widget(form.message, {'attr':{'class':'form-control'}})}}
                	<small class="errors text-danger">{{ form_errors(form.message)}}</small>
				  </div>		  
				  <div class="form-group hidden_type">
                     {{ form_widget(form.type)}}
                 	 {{ form_widget(form.date)}}
				  </div>
				  </div>
				  {{ form_widget(form.valider, {'attr':{'class':'btn btn-info'}})}}
				  {{ form_widget(form._token)}} 
				</form>
			</div>		
		</div>
	</section>

{% endblock %}
